@import 'reset.css';

@font-face {
  font-family: 'fa-webfont';
  src: url('fonts/fontawesome-webfont.woff2') format('WOFF2'),
       url('fonts/fontawesome-webfont.woff') format('WOFF'),
       url('fonts/fontawesome-webfont.ttf') format('TrueType'),
       url('fonts/fontawesome.otf') format('OpenType'),
       url('fonts/fontawesome-webfont.svg') format('SVG'),
       url('fonts/fontawesome-webfont.eot');
}

.sidenav-container {
  position: fixed;
  height: 100%;
  background-color: #312450;
  width: 396px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidenav-container nav.sidenav {
  text-align: right;
  font-family: fa-webfont;
}
.sidenav-container nav.sidenav a {
  font-size: 20px
  font-family: 'fa-webfont';
  text-decoration: none;
  display: block;
  color: rgba(255, 255, 255, 0.35);
}
