@import url(reset.css);
body {
  overflow-x: hidden; }

.sidenav-container {
  float: left;
  height: 100vh;
  background-color: #312450;
  width: 396px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .sidenav-container nav.sidenav {
    text-align: right;
    width: 288px; }
    .sidenav-container nav.sidenav a {
      text-transform: uppercase;
      font-size: 14.5px;
      font-family: "Source Sans Pro", sans-serif;
      text-decoration: none;
      display: block;
      color: rgba(255, 255, 255, 0.35);
      transition: .3s;
      padding: 0 0 20px 0;
      letter-spacing: 0.28rem;
      position: relative;
      margin-top: 59px; }
    .sidenav-container nav.sidenav a:first-of-type {
      margin-top: 26px; }
    .sidenav-container nav.sidenav a:first-of-type::before,
    .sidenav-container nav.sidenav a:last-of-type::before,
    .sidenav-container nav.sidenav a:first-of-type::after,
    .sidenav-container nav.sidenav a:last-of-type::after {
      height: 2px; }
    .sidenav-container nav.sidenav a:hover::before {
      opacity: 1; }
    .sidenav-container nav.sidenav a::before {
      content: '';
      width: 100%;
      height: 3px;
      background-image: linear-gradient(to right, #3c2c62, #3c2c62);
      display: block;
      transition: .3s;
      z-index: 5;
      opacity: 1;
      position: absolute;
      bottom: 0;
      z-index: 1; }
    .sidenav-container nav.sidenav a:hover::after {
      opacity: 0.75; }
    .sidenav-container nav.sidenav a::after {
      content: '';
      width: 100%;
      height: 3px;
      background-image: linear-gradient(to right, #5e42a6, #b74e91);
      display: block;
      transition: .3s;
      z-index: 2;
      opacity: 0;
      position: absolute;
      bottom: 0; }

#container {
  background-image: url("../imgs/intro.svg");
  background-attachment: fixed;
  background-position: top right;
  background-color: #5e42a6;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: calc(100% - 396px);
  height: 100vh;
  float: left;
  overflow-y: scroll; }
  #container #landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #container #landing h1,
    #container #landing p {
      font-family: "Source Sans Pro", sans-serif;
      padding: 0 0 55px 104px; }
    #container #landing h1 {
      margin-top: 44px;
      font-size: 4.2rem;
      font-weight: 600;
      color: white;
      padding-bottom: 40px; }
    #container #landing p {
      color: rgba(255, 255, 255, 0.6);
      font-size: 30px;
      max-width: 930px;
      line-height: 1.5; }
    #container #landing .learn-more {
      padding: 0 0 55px 104px; }
      #container #landing .learn-more a {
        display: inline-block;
        font-family: "Source Sans Pro", sans-serif;
        color: white;
        text-decoration: none;
        transition: .2s;
        border: solid 1px rgba(255, 255, 255, 0.15);
        padding: 24px 44px;
        text-transform: uppercase;
        letter-spacing: 0.28rem;
        border-radius: 30px;
        max-width: 222px;
        max-height: 64px;
        font-size: 15px;
        font-weight: 600;
        position: relative; }
      #container #landing .learn-more a:hover {
        border: solid 1px rgba(255, 255, 255, 0.5); }
      #container #landing .learn-more a:after {
        content: '';
        opacity: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, #fff, #fff);
        top: 0;
        left: 0;
        position: absolute;
        display: inline-block;
        border-radius: 30px;
        transition: .2s;
        transform: scale(0.25); }
      #container #landing .learn-more a:hover::after {
        opacity: 0.06;
        transform: scale(1); }
  #container #who-we-are .sec {
    background-color: #5052b5;
    display: flex;
    height: 495px; }
    #container #who-we-are .sec img {
      max-width: 550px;
      width: 113%;
      height: 100%;
      display: inline-block; }
  #container #who-we-are .part1 {
    background-color: #5052b5; }
  #container #who-we-are .part2 {
    background-color: #4c4eac; }
  #container #who-we-are .part3 {
    background-color: #484aa3; }
  #container #who-we-are .description {
    display: inline-block;
    align-self: center; }
    #container #who-we-are .description h1,
    #container #who-we-are .description p {
      font-family: "Source Sans Pro", sans-serif;
      padding: 0 0 55px 170px; }
    #container #who-we-are .description h1 {
      margin-top: 44px;
      font-size: 2.8rem;
      font-weight: 600;
      color: white;
      padding-bottom: 40px; }
    #container #who-we-are .description p {
      color: rgba(255, 255, 255, 0.6);
      font-size: 25px;
      max-width: 930px;
      line-height: 1.5; }
    #container #who-we-are .description .learn-more {
      padding: 0 0 55px 170px; }
      #container #who-we-are .description .learn-more a {
        display: inline-block;
        font-family: "Source Sans Pro", sans-serif;
        color: white;
        text-decoration: none;
        transition: .2s;
        border: solid 1px rgba(255, 255, 255, 0.15);
        padding: 24px 44px;
        text-transform: uppercase;
        letter-spacing: 0.28rem;
        border-radius: 30px;
        max-width: 222px;
        max-height: 64px;
        font-size: 15px;
        font-weight: 600;
        position: relative; }
      #container #who-we-are .description .learn-more a:hover {
        border: solid 1px rgba(255, 255, 255, 0.5); }
      #container #who-we-are .description .learn-more a:after {
        content: '';
        opacity: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, #fff, #fff);
        top: 0;
        left: 0;
        position: absolute;
        display: inline-block;
        border-radius: 30px;
        transition: .2s;
        transform: scale(0.25); }
      #container #who-we-are .description .learn-more a:hover::after {
        opacity: 0.06;
        transform: scale(1); }
