@import 'reset.css';
$font-stack: 'Source Sans Pro', sans-serif;
$bp-tablet: 'only screen and (max-width: 1680px)';
body {
   overflow-x: hidden;
}
.sidenav-container {
  float: left;
  height: 100vh;
  background-color: #312450;
  width: 396px;
  display: flex;
  justify-content: center;
  align-items: center;
  nav.sidenav {
    text-align: right;
    width: 288px;
    @media #{$bp-tablet} {
      width: 220px;
    }
    a {
      text-transform: uppercase;
      font-size: 14.5px;
      font-family: $font-stack;
      text-decoration: none;
      display: block;
      color: rgba(255, 255, 255, 0.35);
      transition: .3s;
      padding: 0 0 20px 0;
      letter-spacing: 0.28rem;
      position: relative;
      margin-top: 59px;
      overflow: hidden;
      @media #{$bp-tablet} {
        margin-top: 42px;
        font-size: 11.0px;
      }
    }
    a:first-of-type {
      margin-top: 26px;
    }
    a:first-of-type::before,
    a:last-of-type::before,
    a:first-of-type::after,
    a:last-of-type::after {
      height: 2px;
    }
    a:hover::before {
      opacity: 1;
    }
    a::before {
      content: '';
      width: 100%;
      height: 3px;
      background-image: linear-gradient(to right, #3c2c62, #3c2c62);
      display: block;
      transition: .3s;
      z-index: 5;
      opacity: 1;
      position: absolute;
      bottom: 0;
      z-index: 1;
    }
    a:hover::after {
      opacity: 0.75;
      transform: translate3d(0,0,0);
    }
    a::after {
      content: '';
      width: 100%;
      height: 3px;
      background-image: linear-gradient(to right, #5e42a6, #b74e91);
      display: block;
      transition: .2s;
      z-index: 2;
      opacity: 0.75;
      position: absolute;
      bottom: 0;
      transform: translate3d(288px,0,0);
      @media #{$bp-tablet} {
        transform: translate3d(220px,0,0);
      }
    }
  }
}
#container {
  background-image: url('../imgs/intro.svg');
  background-attachment: fixed;
  background-position: top right;
  background-color: #5e42a6;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: calc(100% - 396px);
  height: 100vh;
  float: left;
  overflow-y: scroll;
  #landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1,
    p {
      font-family: $font-stack;
      padding: 0 0 55px 104px;
      @media #{$bp-tablet} {
        font-size: 3.2rem;
        padding: 0 0 55px 70px;
      }
    }
    h1 {
      margin-top: 44px;
      font-size: 4.2rem;
      font-weight: 600;
      color: white;
      padding-bottom: 40px;
      @media #{$bp-tablet} {
        font-size: 3.2rem;
      }
    }
    p {
      color: rgba(255, 255, 255, 0.6);
      font-size: 30px;
      max-width: 930px;
      line-height: 1.5;
      @media #{$bp-tablet} {
        font-size: 23px;
      }
    }
    .learn-more {
      padding: 0 0 55px 104px;
      @media #{$bp-tablet} {
        padding: 0 0 55px 70px; 
      }
      a {
        display: inline-block;
        font-family: $font-stack;
        color: white;
        text-decoration: none;
        transition: .2s;
        border: solid 1px rgba(255, 255, 255, 0.15);
        padding: 24px 44px;
        text-transform: uppercase;
        letter-spacing: 0.28rem;
        border-radius: 30px;
        max-width: 222px;
        max-height: 64px;
        font-size: 15px;
        font-weight: 600;
        position: relative;
      }
      a:hover {
        border: solid 1px rgba(255, 255, 255, 0.5);
      }
      a:after {
        content: '';
        opacity: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, #fff, #fff);
        top: 0;
        left: 0;
        position: absolute;
        display: inline-block;
        border-radius: 30px;
        transition: .2s;
        transform: scale(0.25);
      }
      a:hover::after {
        opacity: 0.06;
        transform: scale(1);
      }
    }
  }
  #who-we-are {
    .sec {
      background-color: #5052b5;
      display: flex;
      height: 495px;
      img {
        max-width: 550px;
        width: 113%;
        height: 100%;
        display: inline-block;
      }
    }
    .part1 {
      background-color: #5052b5;
    }
    .part2 {
      background-color: #4c4eac;
    }
    .part3 {
      background-color: #484aa3;
    }
    .description {
      display: inline-block;
      align-self: center;
      h1,
      p {
        font-family: $font-stack;
        padding: 0 0 45px 170px;
      }
      h1 {
        margin-top: 44px;
        font-size: 2.7rem;
        font-weight: 600;
        color: white;
        padding-bottom: 24px;
      }
      p {
        color: rgba(255, 255, 255, 0.6);
        font-size: 24px;
        max-width: 956px;
        line-height: 1.5;
      }
      .learn-more {
        padding: 0 0 55px 170px;
        a {
          display: inline-block;
          font-family: $font-stack;
          color: white;
          text-decoration: none;
          transition: .2s;
          border: solid 1px rgba(255, 255, 255, 0.15);
          padding: 24px 44px;
          text-transform: uppercase;
          letter-spacing: 0.28rem;
          border-radius: 30px;
          max-width: 222px;
          max-height: 64px;
          font-size: 15px;
          font-weight: 600;
          position: relative;
        }
        a:hover {
          border: solid 1px rgba(255, 255, 255, 0.5);
        }
        a:after {
          content: '';
          opacity: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(to right, #fff, #fff);
          top: 0;
          left: 0;
          position: absolute;
          display: inline-block;
          border-radius: 30px;
          transition: .2s;
          transform: scale(0.25);
        }
        a:hover::after {
          opacity: 0.06;
          transform: scale(1);
        }
      }
    }
  }
  #what-we-do {
    background-color: #b74e91;
    min-height: 500px;
    .what-we-do-container {
      padding: 118px 110px;
      color: white;
      font-family: $font-stack;
      h2 {
        font-weight: 600;
        font-size: 43px;
      }
      p {
        font-size: 23px;
        color: rgba(255, 255, 255, 0.55);
        padding: 27px 0 46px;
        line-height: 1.6;
      }
      .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 33.33% 33.33% 33.33%;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        height: 920px;
        background-color: rgba(255, 255, 255, 0.05);
        .box:nth-child(even) {
          border-left: 1px solid rgba(255, 255, 255, 0.15);
          border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        }
        .box:nth-child(odd) {
          border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        }
        .box {
          display: flex;
          padding: 67px;
          .left {
            .icon {
              width: 54px;
              height: 54px;
              border-radius: 50%;
              background-color: white;
            }
          }
          .right {
            padding-left: 32px;
            h3 {
              padding-top: 12px;
              font-weight: 600;
              font-size: 27px;
            }
            p {
              max-width: 375px;
              padding: 18px 0;
            }
          }
        }
      }
      .learn-more {
        padding: 45px 0 0;
        a {
          display: inline-block;
          font-family: $font-stack;
          color: white;
          text-decoration: none;
          transition: .2s;
          border: solid 1px rgba(255, 255, 255, 0.15);
          padding: 24px 44px;
          text-transform: uppercase;
          letter-spacing: 0.28rem;
          border-radius: 30px;
          max-width: 222px;
          max-height: 64px;
          font-size: 15px;
          font-weight: 600;
          position: relative;
        }
        a:hover {
          border: solid 1px rgba(255, 255, 255, 0.5);
        }
        a:after {
          content: '';
          opacity: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(to right, #fff, #fff);
          top: 0;
          left: 0;
          position: absolute;
          display: inline-block;
          border-radius: 30px;
          transition: .2s;
          transform: scale(0.25);
        }
        a:hover::after {
          opacity: 0.06;
          transform: scale(1);
        }
      }
    }
  }
  #get-in-touch {
    background-color: #5e42a6;
    .get-in-touch-container {
      padding: 118px 110px 65px;
      color: white;
      font-family: $font-stack;
      h2 {
        font-weight: 600;
        font-size: 43px;
      }
      p {
        font-size: 23px;
        color: rgba(255, 255, 255, 0.55);
        padding: 27px 0 50px;
        line-height: 1.6;
      }
      .send-btn {
        padding: 0;
        a {
          display: inline-block;
          font-family: $font-stack;
          color: white;
          text-decoration: none;
          transition: .2s;
          border: solid 1px rgba(255, 255, 255, 0.15);
          padding: 24px 55px;
          text-transform: uppercase;
          letter-spacing: 0.18rem;
          border-radius: 30px;
          max-width: 400px;
          max-height: 64px;
          font-size: 15px;
          font-weight: 600;
          position: relative;
        }
        a:hover {
          border: solid 1px rgba(255, 255, 255, 0.5);
        }
        a:after {
          content: '';
          opacity: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(to right, #fff, #fff);
          top: 0;
          left: 0;
          position: absolute;
          display: inline-block;
          border-radius: 30px;
          transition: .2s;
          transform: scale(0.25);
        }
        a:hover::after {
          opacity: 0.06;
          transform: scale(1);
        }
      }
      .form-address {
        display: flex;
        form {
          font-family: $font-stack;
          padding-right: 53px;
          .form-group {
            display: flex;
            .form-row {
              width: 50%;
              &:first-of-type {
                margin-right: 29px;
              }
              label {
                display: block;
                font-weight: 600;
                font-size: 26px;
                padding-bottom: 23px;
              }
              input {
                width: 360px;
                height: 60px;
                border-radius: 5px;
                background: rgba(255, 255, 255, 0.05);
                color: rgba(255, 255, 255, 0.55);
                padding: 22px;
                font-size: 22px;
                border: 1px solid rgba(255, 255, 255, 0.15);
                &:focus {
                  outline: none;
                  border: 2px solid white;
                }
              }
            }
          }
          .form-row {
            margin-bottom: 38px;
            label {
              display: block;
              font-weight: 600;
              font-size: 26px;
              padding-bottom: 23px;
            }
            textarea {
              font-size: 22px;
              background: rgba(255, 255, 255, 0.05);
              color: rgba(255, 255, 255, 0.55);
              resize: vertical;
              width: 100%;
              height: 226px;
              // max-width: 736px;
              padding: 25px;
              border: 1px solid rgba(255, 255, 255, 0.15);
              border-radius: 5px;
              &:focus {
                outline: none;
                border: 2px solid white;
              }
            }
          }
        }
        .address {
          border-left: 1px solid rgba(255, 255, 255, 0.15);
          padding: 0 57px 50px;
          .group {
            padding-bottom: 38px;
            .social-icons {
              display: flex;
              justify-content: space-between;
              max-width: 182px;
            }
            .social-icons a  {
              border: none;
            }
            .social-icons a i {
              font-size: 22px;
              color: rgba(255, 255, 255, 0.55);
            }
          }
          .group h3 {
            font-weight: 600;
            font-size: 26px;
            padding-bottom: 15px;
          }
          .group p {
            font-size: 24px;
            max-width: 294px;
            padding: 0;
          }
          .group a {
            font-size: 24px;
            padding-top: 7px;
            display: inline-block;
            border-bottom: 1px dotted rgba(255, 255, 255, 0.25);
            text-decoration: none;
            color: rgba(255, 255, 255, 0.55);
            &.phone {
              border: none;
            }
          }
        }
      }
    }
  }
  footer {
    height: 242px;
    background-color: #493382;
    .footer-container {
      padding-left: 109px;
      font-family: $font-stack;
      height: 100%;
      display: flex;
      align-items: center;
      color: rgba(255, 255, 255, 0.15);
      span {
        padding-left: 28px;
        margin-right: 22px;
        font-size: 19px;
        border-left: 1px solid rgba(255, 255, 255, 0.15);
        &:first-of-type {
          border: none;
          padding: 0;
        }
        a {
          display: inline-block;
          text-decoration: none;
          color: rgba(255, 255, 255, 0.15);
          border-bottom: 1px dotted rgba(255, 255, 255, 0.15);
          transition: .2s;
          &:hover {
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1680px) {
  .sidenav-container {
    width: 312px;
  }
  #container {
    width: calc(100% - 312px);
  }
}
